# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# Environment variables
.env

# Data & Databases
data/*
!data/.gitkeep
backend/test_10k.csv

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Scratch files
scratch/
