flask==3.0.3
flask-cors==4.0.1
pandas==2.2.2
numpy==1.26.4
scikit-learn==1.5.0
chromadb==0.5.3
sentence-transformers==3.0.1
python-dotenv==1.0.1
werkzeug==3.0.3
PyJWT==2.8.0
bcrypt==4.0.1
requests==2.32.3
pymongo==4.7.3
certifi==2024.7.4
matplotlib==3.9.0
seaborn==0.13.2
scipy==1.13.1

